<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Login</h1>

        <div class="well">
            <form role="form" ng-submit="vm.login()">
                <div class="form-group">
                    <label>
                        Username
                        <input type="text" class="form-control" ng-model="vm.username" placeholder="Username" />
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        Password
                        <input type="password" class="form-control" ng-model="vm.password" placeholder="Password"/>
                    </label>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>