<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Register</h1>

        <div class="well">
            <form role="form" ng-submit="vm.register()">
                <div class="alert alert-danger" role="alert"
                     ng-show="vm.errorMessage!=null">
                    <span>{{ vm.errorMessage }}</span>
                </div>
                <div class="form-group">
                    <label>
                        Email
                        <input type="email" class="form-control" ng-model="vm.email" placeholder="ex. napat@thinknroll.com" />
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        Username
                        <input type="input" class="form-control" ng-model="vm.username" placeholder="ex. napat" />
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        Password
                        <input type="password" class="form-control" ng-model="vm.password" placeholder="ex. StR0n9P@S5w0rD"/>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        Confirm
                        <input type="password" class="form-control" ng-model="vm.confirmPassword" placeholder="ex. StR0n9P@S5w0rD"/>
                    </label>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>