<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="/">App Name</a></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login" ng-show="!vm.isAuthenticated()">login</a></li>
                <li><a href="/register" ng-show="!vm.isAuthenticated()">register</a></li>
                <li class="navbar-text text-capitalize" ng-show="vm.isAuthenticated()">{{ vm.username }}</li>
                <li><a href="javascript:void(0)" ng-show="vm.isAuthenticated()" ng-click="vm.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>